@mixin input-border {
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 10px;
}

.column-container {
	display: flex;
	gap: 30px;
	font-weight: 500;
	font-size: 14px;
	margin: 20px 0 40px 0;
}

.column-main {
	min-width: 74.39%;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #fff !important;

	&__options {
		width: 100%;
		background: #f5f5f5;
		display: flex;
		flex-wrap: wrap;
	}

	&__person-count {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__delivery-time {
		margin-right: 55px;
	}

	&__primary {
		width: 65%;
		padding: 20px;
		border-bottom: 1px solid #dddddd;
	}

	&__delivery {
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 35%;
		padding: 20px;
		border-left: 1px solid #dddddd;
		border-bottom: 1px solid #dddddd;
	}

	&__total-left {
		display: flex;
		gap: 55px;

		span {
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #999999;
		margin-bottom: 10px;
	}

	&__total {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 20px;
	}
}

.cart {
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__row {
		display: flex;
		gap: 60px;
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
	}

	&__date-wrapper {
		display: flex;
		flex-direction: column;
		gap: 13px;
	}

	&__date-input,
	&__time-input {
		width: 160px;
		height: 35px;
		display: flex;
		padding: 10px;
		border: 1px solid #dddddd;
		border-radius: 5px;
	}

	&__date-input {
		display: flex;
		justify-content: space-between;
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	&__form-control {
		display: flex;
		gap: 15px;
		flex-direction: column;
	}

	&__address-input {
		font-weight: 500;
		font-size: 14px;
		width: 100%;
		@include input-border;
		margin-bottom: 15px;
	}

	&__comment {
		padding-bottom: 160px;
	}

	&__credit-card {
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		background: linear-gradient(
			287.25deg,
			#f56d6d 2.97%,
			#c47de3 37.93%,
			#47b2ff 74.66%,
			#67e2eb 100%
		);
		border-radius: 10px;
		width: 245px;
		height: 60px;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}
}

.span-4 {
	width: 25%;

	input {
		width: 100%;
	}
}

.counter {
	display: flex;
	justify-content: space-around;
	background: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 50px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #999999;
	width: 90px;
	height: 30px;
	align-items: center;
}

.control__btn {
	padding: 5px;
	color: #999999;
	appearance: none;
	background-color: #ffffff;
	border: 0px;
	padding: 5px;
	cursor: pointer;
}

.submit-button {
	background: linear-gradient(95.32deg, #f78d6a 0%, #ff4a76 100%);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	width: 100%;
	height: 42px;
	margin-top: 15px;
	cursor: pointer;
}
