.map-container {
	width: 915px;
	height: 720px;
	background-image: url(../assets/images/map.png) !important;
	position: relative;
}

.map {
	&__status-wrapper {
		position: absolute;
		left: 245px;
		bottom: 0;
		padding: 20px;
		background-color: #fff;
		width: 495px;
		height: 284px;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
		border-radius: 15px 15px 0px 0px;

		h5 {
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 15px;
		}

		span {
			color: #999999;
		}
	}

	&__status-icons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin: 40px 0;
	}

	&__status-icon {
		width: 70px;
		height: 70px;
		background: #ffffff;
		border: 2px solid #ff4a76;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__contact {
		background: linear-gradient(95.32deg, #f78d6a 0%, #ff4a76 100%);
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		width: 100%;
		height: 40px;
		margin-top: 15px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			background: linear-gradient(95.32deg, #f78d6a 0%, #ff5982 100%);
		}
	}
}
