@mixin border-gray {
	border: 1px solid #dddddd;
	border-radius: 37.5px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
}
.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
	&__item {
		padding: 5px;
		cursor: pointer;

		&:hover {
			color: rgba(51, 51, 51, 0.75);
		}
	}
}
.delivery {
	display: flex;
	min-width: 226px;
	min-height: 30px;
	font-weight: 500;
	font-size: 12px;
	@include border-gray;
}
.location {
	display: flex;
	align-items: center;
	padding: 0px 40px 0px 10px;

	img {
		margin-right: 10px;
	}
}
.cart {
	display: flex;
	align-items: center;
	color: white;
	background: #ff4a76;
	padding: 0px 10px;
	border-radius: 0px 37.5px 37.5px 0px;
	img {
		margin-right: 5px;
	}
}
.city {
	display: flex;
	min-width: 104px;
	min-height: 30px;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
	@include border-gray;
}
.user {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 15px;
}
.pfp {
	border-radius: 37.5px;
	position: relative;
	z-index: 10;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;

	&:hover {
		box-shadow: #00000013 0px 4px 20px;
	}

	&__menu {
		position: absolute;
		width: 180px;
		height: 190px;
		right: 0px;
		top: 105%;
		background: #ffffff;
		transition: 0.3s;
		padding: 15px;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
		border-radius: 10px;

		h5 {
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 20px;
		}
	}

	&__options {
		display: flex;
		gap: 10px;
		flex-direction: column;
		margin-bottom: 30px;
	}

	&__option,
	&__log-out {
		background-color: #fff;
		cursor: pointer;
		font-weight: 500;
		transition: 0.3s;
		line-height: 17px;
	}

	&__option {
		font-size: 14px;
		text-align: start;

		&:hover {
			color: #ff4a76;
		}
	}

	&__log-out {
		color: #999;
		font-size: 14px;
	}
}

.history {
	&__wrapper {
		display: flex;
		flex-direction: column;
		font-size: 14px;
	}

	&__item {
		padding: 20px;

		&-grey {
			background-color: #f9f9f9;
		}
	}

	&__upper-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__span {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&__details-wrapper {
		display: flex;
		gap: 40px;
	}

	&__details-column {
		display: flex;
		flex-direction: column;
		width: 150px;
		gap: 5px;
	}
}

.settings {
	&__wrapper {
		display: flex;
		width: 100%;
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 50%;
	}

	&__span {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__input {
		width: 95%;
		padding: 0 10px;
		height: 40px;
		background: #ffffff;
		border: 1px solid #dddddd;
		border-radius: 5px;
	}

	&__change-password {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #ff4a76;
		width: 95%;
		height: 40px;
		border: 1px solid #ff4a76;
		border-radius: 10px;
		position: relative;
		cursor: pointer;
		background-color: #fff;
		transition: 0.3s;
		margin-bottom: 30px;

		&:hover {
			background-color: #ff4a7711;
		}
	}
}
