@mixin border-gray {
	border: 1px solid #dddddd;
	border-radius: 37.5px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
}
.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
	&__item {
		cursor: pointer;
	}
}
.delivery {
	display: flex;
	min-width: 226px;
	min-height: 30px;
	font-weight: 500;
	font-size: 12px;
	@include border-gray;
}
.location {
	display: flex;
	align-items: center;
	padding: 0px 40px 0px 10px;

	img {
		margin-right: 10px;
	}
}
.cart {
	display: flex;
	align-items: center;
	color: white;
	background: #ff4a76;
	padding: 0px 10px;
	border-radius: 0px 37.5px 37.5px 0px;
	img {
		margin-right: 5px;
	}
}
.city {
	display: flex;
	min-width: 104px;
	min-height: 30px;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
	@include border-gray;
}
.user {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 15px;
}
.pfp {
	border-radius: 37.5px;
}
