@mixin heading-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}
@mixin desc-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #999999;
}

.restaurant-cat {
	margin-top: 60px;
	&__heading {
		font-weight: 700;
		font-size: 32px;
		line-height: 39px;
		margin-right: 20px;
	}
	&__amount {
		font-weight: 500;
		font-size: 32px;
		line-height: 39px;
		color: #999999;
	}
	&__list {
		margin: 40px 0;
		margin-top: 40px;
		gap: 30px;
		display: flex;
		flex-wrap: wrap;
	}
}
.restaurant-menu {
	&__item {
		width: 47.97%;
		height: 280px;
		background: #ffffff;
		border-radius: 15px;
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
		filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.05));
		cursor: pointer;

		img {
			width: 100%;
		}
	}
	&__heading-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	&__heading {
		@include heading-text;
		margin-right: 10px;
		transition: 0.3s;

		&:hover {
			text-decoration: underline;
		}
	}
	&__weight {
		@include desc-text;
		font-size: 14px;
	}
	&__price {
		@include heading-text;
	}
	&__desc-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	&__desc {
		@include desc-text;
		width: 68.8%;
	}
	&__old-price {
		@include desc-text;
		text-decoration-line: line-through;
	}
}
