.modal {
	width: 660px;
	height: min(60%, 382px);
	margin: auto;
	padding: 30px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	background-color: rgb(255, 255, 255);
	color: black;
	z-index: 10001;
	p {
		margin-bottom: 20px;
		line-height: 1.5;
	}
	position: relative;

	&__heading {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
	}

	&__card-wrapper {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__add-card {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ff4a76;
		width: 285px;
		height: 50px;
		border: 1px solid #ff4a76;
		border-radius: 10px;
		position: relative;
		cursor: pointer;

		img {
			position: absolute;
			left: 10px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

.exit {
	position: absolute;
	display: inline-block;
	height: 26px;
	width: 26px;
	top: 10px;
	right: 10px;
	color: #dddddd;
	border: 2px solid #dddddd;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
