.modal {
	width: 810px;
	height: fit-content;
	max-height: 572px;
	margin: auto;
	padding: 30px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	background-color: rgb(255, 255, 255);
	color: black;
	z-index: 10001;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #999;
	}

	p {
		margin-bottom: 20px;
		line-height: 1.5;
	}
	position: relative;

	&__heading {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
	}

	&__card-wrapper {
		display: flex;
		align-items: center;
		gap: 30px;

		img {
			transform: scale(0.98);
			transition: 0.4s;
			cursor: pointer;

			&:hover {
				transform: scale(1);
			}
		}
	}

	&__add-card {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #ff4a76;
		width: 285px;
		height: 50px;
		border: 1px solid #ff4a76;
		border-radius: 10px;
		position: relative;
		cursor: pointer;
		background-color: #fff;
		transition: 0.3s;

		&:hover {
			background-color: #ff4a7712;
		}

		img {
			position: absolute;
			left: 10px;
			z-index: 100;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}

.exit {
	position: absolute;
	display: inline-block;
	height: 26px;
	width: 26px;
	top: 10px;
	right: 10px;
	color: #dddddd;
	border: 2px solid #dddddd;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}
