@import '../../pages/Main.scss';

.restaurant-informer {
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	padding: 20px 0 20px 30px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	&__text {
		display: flex;
		flex-direction: column;
		gap: 5px;
		span {
			@include text-s;
		}
	}

	&__heading {
		@include heading-s;
	}
	&__icon {
		width: 60px;
		height: 60px;
		background: #ff4a76;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
	}
}
