@import '../../pages/Main.scss';

.side-cart {
	&__list {
		background: #f5f5f5;
		border-radius: 15px;
		padding: 20px;
	}
	&__heading {
		display: flex;
		justify-content: space-between;
		@include heading-s;
		margin-bottom: 30px;

		img {
			cursor: pointer;
		}
	}

	&__button {
		background: linear-gradient(95.32deg, #f78d6a 0%, #ff4a76 100%);
		border-radius: 10px;
		height: 50px;
		width: 100%;
		margin-top: 20px;
		border: 0px;
		text-align: center;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
		cursor: pointer;
	}
}
