@import '../../pages/Main.scss';

.side-cart {
	&__list {
		background: #f5f5f5;
		border-radius: 15px;
		padding: 20px;
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		@include heading-s;
		margin-bottom: 30px;

		img {
			cursor: pointer;
		}
	}

	&__dishes {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
	}

	&__about {
		display: inline-flex;
		flex-wrap: wrap;
		max-width: 164px;
	}

	&__quantity {
		@include text-s;
	}
	&__weight {
		@include text-s;
	}
	&__topping {
		@include text-s;
		font-size: 12px;
	}
	&__gift {
		width: 18px;
		height: 20px;
		min-width: 37px;
	}
	&__price {
		min-width: 37px;
	}
	&__discount {
		color: #ff4a76;
	}
	&__delivery {
		margin-bottom: 200px;
	}

	&__button {
		background: linear-gradient(95.32deg, #f78d6a 0%, #ff4a76 100%);
		border-radius: 10px;
		height: 50px;
		width: 100%;
		margin-top: 20px;
		border: 0px;
		text-align: center;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
		cursor: pointer;

		&:hover {
			background: linear-gradient(95.32deg, #ffa181 0%, #f9698d 100%);
		}
	}
}
