body {
	margin: 0;
	font-family: 'Montserrat';
	color: #333333;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.wrapper {
	max-width: 1230px;
	margin: 0 auto;
	position: relative;
}
li {
	list-style-type: none;
}
input,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	outline: 0;
	text-decoration: none;
	border: none;
	color: inherit;
}

input[type='radio' i] {
	-webkit-appearance: none;
	position: relative;
	appearance: none;
	background-color: #fff;
	margin: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #ff4a76;
	border-radius: 50%;
}

input[type='radio']:checked {
	border: 4px solid #ff4a76;
}
